<style>
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    width: 80%;
    margin: auto;
    background:#fff;
    color: #333; 
    padding: 10px 0;
    min-height: 70px;
    border-bottom: #000000 3px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 50px;
    width: auto;
    margin: 0 20px;
}

header #branding {
    flex-grow: 1;
}

header #branding h1 {
    margin: 0;
    text-align: center;
}

.questionnaire {
    background: #fff;
    padding: 30px;
    margin-top: 30px;
}

.questionnaire h2 {
    margin-top: 0;
}

.question {
    margin-bottom: 20px;
}

.question label {
    display: block;
    margin-bottom: 5px;
}

.question input[type="text"] {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 10px; /* Add margin between inputs */
}

.question input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.question input[type="submit"]:hover {
    background-color: #555;
}

.consent {
    margin-bottom: 20px;
}

.rating {
    font-size: 0.9em;
    color: #007BFF;
    padding-left: 10px;
}

.spinner-container {
    background-color: rgba(0, 0, 0, 0.5); /* Dim the background */
    z-index: 1000; /* Ensure it's on top */
    position: fixed; /* Cover the entire page */
    top: 0;
    left: 0;
}


.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-top: -60px; /* Offset by half the height */
    margin-left: -60px; /* Offset by half the width */
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* General styling for the add-answer button */
.add-answer {
    padding: 8px 12px;
    font-size: 16px;
    color: #fff;
    background-color: #007BFF; /* Bootstrap primary blue */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.add-answer:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

.add-answer:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,123,255,0.5); /* Blue glow for accessibility */
}



    </style>